/**
* Preamble Panel - "The Road to Enlightenment"
*
* Configuration:
* - Position: Left side, retracts to top
* - Width: 495px
* - Hook: hook1.svg
* - Initial state: Off-screen top (90% bottom), rotated/skewed, scaled down
* - Hover state: Drops to 10% from bottom, straightens, full scale
*/

.preamble {
    /* Panel configuration */
    --preamble-width: 495px;
    --preamble-margin-left-initial: -580px;
    --preamble-margin-left-hover: -490px;
    --preamble-bottom-initial: 90%;
    --preamble-bottom-hover: 10%;
    --preamble-hook: url(hook1.svg);
    --preamble-hook-offset: -40px;
    --preamble-frame-top-offset: 655px;
    --preamble-tab-height: 70px;

    /* Positioning */
    position: absolute;
    bottom: var(--preamble-bottom-initial);
    left: 50%;
    z-index: 5;
    margin: 0 0 0 var(--preamble-margin-left-initial);
    padding: 0;
    width: var(--preamble-width);

    /* Tab mode - show only top portion when retracted */
    height: var(--preamble-tab-height);
    overflow: hidden;

    /* Visual */
    background: url(layer-middle.svg) repeat-y center top;
    -moz-background-size: var(--preamble-width) auto;
    -o-background-size: var(--preamble-width) auto;
    -webkit-background-size: var(--preamble-width) auto;
    background-size: var(--preamble-width) auto;
    color: #999;

    /* Initial transform - rotated and skewed for 3D effect */
    -moz-transform: rotate(-5deg) skew(-5deg) scale(0.8);
    -ms-transform: rotate(-5deg) skew(-5deg) scale(0.8);
    -o-transform: rotate(-5deg) skew(-5deg) scale(0.8);
    -webkit-transform: rotate(-5deg) skew(-5deg) scale(0.8);
    transform: rotate(-5deg) skew(-5deg) scale(0.8);

    /* Transitions */
    -moz-transition: -moz-transform 1s ease-out,
                     bottom 1s ease-out,
                     margin 1s 1s ease-out,
                     left 1s 1s ease-out,
                     right 1s 1s ease-out;
    -o-transition: -o-transform 1s ease-out,
                   bottom 1s ease-out,
                   margin 1s 1s ease-out,
                   left 1s 1s ease-out,
                   right 1s 1s ease-out;
    -webkit-transition: -webkit-transform 1s ease-out,
                        bottom 1s ease-out,
                        margin 1s 1s ease-out,
                        left 1s 1s ease-out,
                        right 1s 1s ease-out;
    transition: transform 1s ease-out,
                bottom 1s ease-out,
                margin 1s 1s ease-out,
                left 1s 1s ease-out,
                right 1s 1s ease-out;
}

/* Hook and frame elements */
.preamble::before,
.preamble::after {
    position: absolute;
    left: 0;
    z-index: -1;
    display: block;
    width: var(--preamble-width);
    content: '';
}

.preamble::before {
    top: -700px;
    height: 700px;
    background: var(--preamble-hook) no-repeat center var(--preamble-hook-offset),
                url(layer-frame.svg) no-repeat center var(--preamble-frame-top-offset);
    -moz-background-size: auto auto, var(--preamble-width) auto;
    -o-background-size: auto auto, var(--preamble-width) auto;
    -webkit-background-size: auto auto, var(--preamble-width) auto;
    background-size: auto auto, var(--preamble-width) auto;
}

.preamble::after {
    bottom: -45px;
    height: 45px;
    background: transparent url(layer-frame.svg) no-repeat center bottom;
    -moz-background-size: var(--preamble-width) auto;
    -o-background-size: var(--preamble-width) auto;
    -webkit-background-size: var(--preamble-width) auto;
    background-size: var(--preamble-width) auto;
}

/* Open state - expand from tab to full panel */
.preamble.panel-open,
.preamble:hover {
    bottom: var(--preamble-bottom-hover);
    left: 50%;
    margin: 0 0 0 var(--preamble-margin-left-hover);
    height: auto;
    color: #fff;
    -moz-transform: rotateY(0) scale(1);
    -ms-transform: scale(1);
    -o-transform: rotateY(0) scale(1);
    -webkit-transform: rotateY(0) scale(1);
    transform: rotateY(0) scale(1);
}

/* Content styling */
.intro {
    z-index: 3;
}

.intro h3,
.intro p {
    padding: 15px 80px 0 80px;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    -webkit-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

.intro h3 {
    color: #999;
    font-size: 30px;
    line-height: 30px;
}

.intro:hover h3 {
    color: #fff;
}

.intro .preamble h3 {
    padding-top: 20px;
}

.intro .preamble p:last-child {
    padding-bottom: 20px;
}
